@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

* { box-sizing: border-box }
a { text-decoration: none }

body {
  background-image: linear-gradient(skyblue, pink);
  background-attachment: fixed;
  margin: 0;
  font-family: 'Nanum Brush Script', cursive;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
}

.burger {
  border: 0;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  outline: 0;
  transition: background-color ease-in-out .2s;
}

.burger:focus, .burger:hover { background-color: #eee; }

.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, .5);
  transition: transform ease-in-out .2s;
  transform: translateX(-100%);
}

.menu-item, .menu-link {
  display: flex;
  height: 100%;
  width: 100%;
}

.menu-link {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
  transition: background-color ease-in-out .2s;
}

.menu-link:hover { background-color: #fff; }
.menu-link-active { text-decoration: underline; }

.burger:hover ~ .menu, .burger:focus ~ .menu, .menu:hover {
  transform: translateX(0);
}

.gallery, .about {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1200px;
  border: 10px solid #fff;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  overflow: hidden;
}

.header, .footer { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, pink, skyblue);
  padding: 10px;
  position: relative;
}

.footer {
  font-size: 30px;
  text-align: center;
}

.heading {
  font-size: 60px;
  margin: 0;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}

.image-container { overflow: hidden; }

.image {
  display: block;
  width: 100%;
  transition: transform ease-in-out .2s;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.gallery .image { cursor: pointer; }

.image-view {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  transform: scale(0);
}

.image-view, .image-view-image { 
  transition: opacity ease-in-out .2s;
  opacity: 0;
}

.image-view-active {
  transform: scale(1);
  opacity: 1;
}

.image-view-image {
  border: 10px solid #fff;
  max-width: 100%;
  max-height: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  padding: 30px;
}

@media(pointer: fine) {
  .gallery .image:hover {
    transform: scale(1.2);
  }
}

@media(min-width: 600px) {
  .gallery, .about { grid-template-columns: repeat(2, 1fr) }
}

@media(min-width: 900px) {
  .gallery, .about { grid-template-columns: repeat(3, 1fr) }
  .header, .about-text { grid-column: 1 / 3 }
}

@media(min-width: 1200px) {
  .gallery, .about { grid-template-columns: repeat(4, 1fr) }
  .header { grid-row: 1 / 3 }

  .footer { grid-column: 3 / 5 }
  .gallery .footer { grid-row: 7 / 9 }
  .about .footer, .about-text { grid-row: 3 / 5; }

  .about .image-container { 
    grid-row: 1 / 3;
    grid-column: 3 / 5;
  }
}